* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #A5A68F;
}

.mainpage {
    background-color: #A5A68F;
}

.menu {
    display: grid;
    grid-template-columns: 81.38124999fr 138.90937492fr 303.0750003fr 300.26874989fr 271.5046875fr 178.89843761fr 72.9625001fr;
    padding: 18.8px;
    height: 136;
    background-color: #FAF4E3;
}

.menuLogoPng {
    height: 40.8px;
    margin: 7px;
    justify-content: right;
}

.inSidePage {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 19.5px;
}

.inSidePage a {
    text-decoration: none;
    color: black;
}

.searchBar {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; /* 수직 가운데 정렬 */
    border-radius: 40px;
    position: relative;
    width: 300.26874989px; /* 검색창 가로 길이 고정 */
    height: 50px; /* 검색창 높이 설정 (메뉴바 높이에 맞추어 수정 가능) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 부드러운 외곽선 */
    margin-top: 5px; /* 검색창을 5픽셀 아래로 내림 */
}

.searchBar input[type="text"] {
    width: 100%; /* 검색창 안의 input 가로 길이를 채우도록 설정 */
    height: 100%; /* 검색창 높이와 동일하게 설정 */
    padding: 10px 50px 10px 15px; /* 아이콘 공간 확보 */
    border: none; /* 보더 제거 */
    border-radius: 40px; /* 모서리 곡선 */
    font-size: 18px;
    outline: none; /* 클릭 시 외곽선 제거 */
}

#searchIcon {
    content: "\1F50D"; /* 돋보기 아이콘 */
    position: absolute;
    right: 15px;
    font-size: 24px;
    color: #8A2BE2;
    cursor: pointer;
}


.signUpceateAccount {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 19.5px;
}

.signUpceateAccount a {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 글씨 색상을 검은색으로 변경 */
}

